Host server
  HostName 127.0.0.1
  User vagrant
  Port 2222
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /mnt/c/Users/Johan/BigData_Project/.vagrant/machines/server/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host agent1
  HostName 127.0.0.1
  User vagrant
  Port 2200
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /mnt/c/Users/Johan/BigData_Project/.vagrant/machines/agent1/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host agent2
  HostName 127.0.0.1
  User vagrant
  Port 2201
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /mnt/c/Users/Johan/BigData_Project/.vagrant/machines/agent2/virtualbox/private_key
  IdentitiesOnly yes
  LogLevel FATAL

